/* General Styles */
body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #232222;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff0000;
}

.main-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.error-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
}

.error-content {
    max-width: 600px;
}

h1 {
    font-size: 5em;
    color: #ff0000;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #cc0000;
}

footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer-icons a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-icons a:hover {
    color: #ff0000;
}
